<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>New Born Boy</string>
	<string>New Born Girl</string>
	<string>1st Birthday Boy</string>
	<string>1st Birthday Girl</string>
	<string>Christening Boy</string>
	<string>Christening Girl</string>
	<string>Mother&apos;s Day</string>
	<string>Father&apos;s Day</string>
	<string>Get Well Soon</string>
	<string>Good Luck</string>
	<string>Sympathies</string>
</array>
</plist>
